:root {
  --theme-name: 'blue dolphin';
  --background: #052b3f;
  --selection-text: #052b3f;
  --selection-bg: #1cdffe;
  --text: #1cdffe;
  --color2: #fff;
  --error: #fa5075;
  --index: #DCDCCC;
  --cursor: #fdc0fa;
  --command: #fdc0fa;
  --command-glow: #f6d3f4;
  --command-glow-x: 0px;
  --command-glow-y: 0px;
  --command-glow-r: 0px;
  --link: #fdc0fa;
  --white: #fff;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: var(--text);
  background: var(--background);
  font-family: cursor, monospace;
  overflow-x: hidden;
  letter-spacing: 0.05em;
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For Internet Explorer 10+ */
body {
  -ms-overflow-style: none;
}

::selection {
  color: var(--selection-text);
  background-color: var(--selection-bg);
}
::-moz-selection {
  color: var(--selection-text);
  background-color: var(--selection-bg);
}
textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 12px;
  color: var(--cursor);
  background-color: var(--cursor);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: var(--command);
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: var(--text);
  content: "guest@lundeenterminal:~$";
}
#liner.password::before {
  content: "Password:";
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: var(--index);
}
.color2 {
  color: var(--color2);
}
.command {
  color: var(--command);
  text-shadow: var(--command-glow-x) var(--command-glow-y) var(--command-glow-r) var(--command); 
}
.error {
  color: var(--error);
}
.white {
  color: var(--white);
}
.inherit,
a {
  color: var(--link);
}
a {
  text-decoration: inherit;
}
a:hover {
  background: var(--cursor);
  color: var(--selection-text);
}
a:focus {
  outline: 0;
}