:root {
  --theme-name: 'default';
  --background: #1f1c30dd;
  --selection-text: #1f1c30;
  --selection-bg: #b692e2;
  --text: #b692e2;
  --color2: #d9d5f1;
  --error: #f1f1d5;
  --index: #DCDCCC;
  --cursor: #b692e2;
  --command: #de89be;
  --command-glow: #e292c311;
  --glow-x: 0px;
  --glow-y: 0px;
  --glow-r: 0px;
  --link: #fff7b9;
  --link-glow: #fff7b9;
  --white: #fff;
}

html {
  background-image: url(../img/japan2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 15px 20px;
  width: 100%;
  color: var(--text);
  font-family: cursor, monospace;
  overflow-x: hidden;
  letter-spacing: 0.05em;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For Internet Explorer 10+ */
body {
  -ms-overflow-style: none;
}

::selection {
  color: var(--selection-text);
  background-color: var(--selection-bg);
}
::-moz-selection {
  color: var(--selection-text);
  background-color: var(--selection-bg);
}
textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 12px;
  color: var(--cursor);
  background-color: var(--cursor);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: var(--command);
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
  text-shadow: var(--glow-x) var(--glow-y) var(--glow-r) var(--command-glow);
}
#liner::before {
  color: var(--text);
  content: "guest@lundeenterminal:~$";
  text-shadow: none;
}
#liner.password::before {
  content: "Password:";
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: var(--index);
}
.color {
  color: var(--text);
}
.color2 {
  color: var(--color2);
}
.command {
  color: var(--command);
  text-shadow: var(--glow-x) var(--glow-y) var(--glow-r) var(--command-glow); 
}
.error {
  color: var(--error);
}
.white {
  color: var(--white);
}
.inherit,
a, .link-color {
  color: var(--link);
  text-shadow: var(--glow-x) var(--glow-y) var(--glow-r) var(--link-glow); 
}
a {
  text-decoration: inherit;
}
a:hover {
  background: var(--cursor);
  color: var(--selection-text);
}
a:focus {
  outline: 0;
}
.clickable {
  cursor: pointer;
  text-decoration: inherit;
}

.clickable:hover {
  background: var(--cursor);
  color: var(--selection-text);
}