---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lundeen Cahilly">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <h1 class="text-4xl font-bold mb-8 text-center">Resume</h1>
    <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden w-full h-screen">
      <iframe src="/Lundeen_Cahilly_Resume_nov2024.pdf" class="w-full h-screen"></iframe>
    </div>
  </div>
</Layout>