---
const navItems = [
  { href: '/', text: 'Home' },
  { href: '/resume', text: 'Resume' },
  { href: '/projects', text: 'Projects' },
  { href: '/writing', text: 'Writing' },
];
---

<nav class="border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-end h-16">
      <div class="flex">
        <!-- <div class="flex-shrink-0 flex items-center">
          <a href="/" class="text-xl font-bold">Lundeen</a>
        </div> -->
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          {navItems.map((item) => (
            <a
              href={item.href}
              class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium transition-colors duration-200 ease-in-out"
              class:list={[
                'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700',
                { 'border-black text-black': Astro.url.pathname === item.href },
              ]}
            >
              {item.text}
            </a>
          ))}
        </div>
      </div>
    </div>
  </div>
</nav>

